# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vs/

x64/
/LearnOpenGL/Dependency/Assimp/Debug/lib/pkgconfig
/LearnOpenGL/Dependency/Assimp/Debug/lib/cmake
/LearnOpenGL/Dependency/Assimp/Release/lib/pkgconfig
/LearnOpenGL/Dependency/Assimp/Release/lib/cmake
assimp-5.4.1
assimp-5.4.1.zip
